<div class="modal" id="variants-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">{{ controller.variantsModal.title }}</h4>
      </div>
      <div class="modal-body">
        <p>
        	<div id="new-variant-form" style="display: none;">
	        	<form class="form-inline">
	        		<div class="form-group">
						{{input type="text" id="new-variant-text-input" class="form-control" placeholder="VARIANT NAME" value=newVariantTag }}
						<button {{ action "saveNewVariant" newVariantTag }} type="submit" class="btn btn-primary" ><span class="glyphicon glyphicon-ok"></span>&nbsp; Save</button>
	        		</div>
	        	</form>
	        </div>
        	<button {{ action "startNewVariant" }} type="button" class="btn btn-warning btn-sm btn-block" id="new-variant-button"><span class="glyphicon glyphicon-plus"></span> &nbsp;New Variant</button>
        	<br>
        	<ul class="list-group">
	        	{{!#each foodVariant in controller.variantsModal.foodVariants }}
        		{{#each foodVariant in controller.foodVariants }}
        			<a {{ action "selectFoodVariant" foodVariant }} {{bind-attr class=":list-group-item foodVariant.isSelected:active"}}>{{ foodVariant.tag }} 
        			{{#if foodVariant.isSelected }} <span class="glyphicon glyphicon-ok pull-right"></span> {{/if}}
        			</a>

        		{{/each}}
        	</ul>

        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button {{ action 'addFoodWithVariantToOrder' controller.variantsModal.food }} type="button" class="btn btn-success">Add with variants</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div class="container-fluid" style="margin-top: 15px;">

	<div class="row">


	  	<div class="col-sm-6 col-sm-push-6">

			{{ render 'food/index' foods }}

		</div>


		<div id="order-column" class="col-sm-6 col-sm-pull-6" style="margin-bottom: 20px;">

			<div class="panel panel-default">
			  <!-- Default panel contents -->
				<div class="panel-heading"><h4 class="panel-title"><span class="glyphicon glyphicon-cutlery"></span> Order</h4></div>
					<table class="table">
					<tbody>

				  		{{#each orderItem in model.orderItems}}
				  			<tr>
					  			<td width="50%" style="padding-left: 15px;" {{bind-attr class="orderItem.hasVariants:small-padding-bottom"}}>
					  				{{ orderItem.food.name}}

					  			</td>
					  			<td style="text-align: left;" {{bind-attr class="orderItem.isGift:text-strike orderItem.hasVariants:small-padding-bottom"}}>
					  				{{ orderItem.price }}€
					  			</td>

				  				<td style="min-width: 48px;" {{bind-attr class="orderItem.hasVariants:small-padding-bottom"}}> 
				  					<span class="glyphicon glyphicon-remove" style="font-size: 10px; color: #ccc;"></span>{{ orderItem.quantity }}
				  				</td>

				  				<td width="60px" style="min-width: 83px;" {{bind-attr class="orderItem.hasVariants:small-padding-bottom"}}>
				  					<div class="btn-group btn-group-sm" role="group">
				  						<button {{ action 'decreaseOrderItemQuantity' orderItem }} type="button" class="btn btn-default">
				  							<span class="glyphicon glyphicon-minus"></span>
				  						</button>
				  						<button {{ action 'increaseOrderItemQuantity' orderItem }} type="button" class="btn btn-default">
				  							<span class="glyphicon glyphicon-plus"></span>
				  						</button>
				  					</div>
				  				</td>

				  				<td {{bind-attr class="orderItem.hasVariants:small-padding-bottom"}}>
				  					<button type="button" {{bind-attr class=":btn :btn-default :btn-sm orderItem.isGift:active"}} {{ action 'toggleOrderItemAsGift' orderItem }} >Free</button>
				  				</td>

				  				<td style="text-align: right;" {{bind-attr class="orderItem.hasVariants:small-padding-bottom"}}>
				  					<button {{ action 'removeOrderItemFromOrder' orderItem }} type="button" class="btn btn-danger btn-sm">
				  						<span class="glyphicon glyphicon-remove"></span>
				  					</button>
				  				</td>


				  			</tr>

			  				{{#if orderItem.variants }}
			  					{{#each variant in orderItem.variants}}
			  						{{!log @last}}
			  			  			<tr class="">
			  				  			<td width="50%" style="padding: 2px 8px 8px 15px; border-top-color: #fff;" {{ bind-attr class="variant.@last:small-padding-bottom" }} >
			  								<span class="label label-warning">∟ {{ variant.tag }}</span>
			  							</td>
			  							<td style="text-align: left; padding: 5px 8px 8px 8px; border-top-color: #fff;" {{bind-attr class="orderItem.isGift:text-strike"}}>
			  								{{#if variant.priceModifier }} {{ variant.priceModifier }}€ {{/if}}
			  							</td>	
			  							<td style="border-top-color: #fff;"></td>
			  							<td style="border-top-color: #fff;"></td>
			  							<td style="border-top-color: #fff;"></td>								
			  							<td style="border-top-color: #fff;" class="text-center">
			  								<!-- <button type="button" class="btn btn-danger btn-xs" {{ action "removeVariantFromOrderItem" variant orderItem }}><span class="glyphicon glyphicon-remove"></span></button> -->
			  							</td>
			  						</tr>										
			  					{{/each}}
			  				{{/if}}	

						{{/each}}	


						<tr class="success">
							<td width="50%" style="padding-left: 15px;">Discount</td>

							<td class="text-left">-{{ model.discount }}€ </td>

							<td></td>

							<td width="60px" style="min-width: 83px;">
								<div class="btn-group btn-group-sm" role="group">
									<button {{ action 'decreaseOrderDiscount' model }} type="button" class="btn btn-default">
										<span class="glyphicon glyphicon-minus"></span>
									</button>
									<button {{ action 'increaseOrderDiscount' model }} type="button" class="btn btn-default">
										<span class="glyphicon glyphicon-plus"></span>
									</button>
								</div>
							</td>
							<td></td>
							<td></td>
						</tr>
					</tbody>
					</table>

					<div class="panel-footer">
						<div class="row">
							<div class="col-xs-6"><b>Total</b>:</div>
							<div class="col-xs-6 text-left" style="padding-left: 8px;"><b>{{ model.totalPrice }}€</b></div>
						</div>  
					</div>
			</div>

			<div id="order-control-area">
				<button {{ action 'sendOrder' model }} class="btn btn-success btn-block" ><span class="glyphicon glyphicon-ok"></span> &nbsp;Send Order</button>

				<button {{ action 'sendOrder' model }} class="btn btn-default btn-block" ><span class="glyphicon glyphicon-log-in"></span> &nbsp;Send and Move Order</button>			
			</div>

		</div>


	</div>

</div>